@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
.section2{
    padding: 50px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.CircleImgIcon{

    width: 130px;
}

.littleCard{
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.textImg{
    /* border:2px solid red; */
    font-family:"Source Sans Pro";
    font-size: 22px;
    color:#262b2b;
    text-align: center;
    width:160px;
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
