@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.section1{
    display: flex;
    padding: 25px;
    padding-top: 40px;
    padding-bottom: 80px;
    font-family: 'Oswald', sans-serif;
    background-color: #262b2b;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: auto;
}
.divTextHero{
    
    width: 500px;
    height: 500px;
    padding: 15px;
}
.bigText{
    display: flex;
    color:#ffffdd;
    font-size: 80px;
    font-weight: bold;
    font-family: "Oswald";
    margin-top: 8px;
    line-height: 100%;
    margin-left: -4px;
}
.smallTextTop{
    display: flex;
    font-family: 'Oswald';
    color:#3b908a;
    font-size: 40px;
    font-display: swap;
    font-weight: bold;
}
.smallTextBot{
    display: flex;
    font-family: 'Oswald';
    color:
    #fb3742;
    font-size: 40px;
    font-display: swap;
    font-weight:lighter;
}

.BigCard{
    padding: 30px;
    display: flex;
    align-items: center;
    width: 500px;
    height: 500px;
}
.polaroid{
    width: 400px;
}


.textBotton{
    font-size: 18px;
    color: #a0a398;
    line-height: 26px;
    text-align: left;
    font-family:"Source Sans Pro";
    font-weight:400;
    font-style:normal;
}
.divButton{
   padding: 25px; 
}

.btnSection1{
    background-color:#df6322;
    color:#ffffde;
    font-weight: bold;
    font-size: 30px;
    font-family:"Source Sans Pro";
    width: 140px;
    height: 45px;
    box-sizing: border-box;
    border-color: #262b2b;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba(32, 30, 30, 0.14);
    padding-right: 10px;
    padding-bottom: 10px;
}

.btnSection1:hover{
    box-shadow: 2px 12px 32px rgba(0,0,0,0.6);
    cursor:pointer;
}

@media (max-width:1350px) {
    .section2,
    .section1{
        flex-direction: column;
    }
    .divTextHero{
    
        width: 200px;
        height: 950px;
        padding: 15px;
    }
    .BigCard{
        padding: 30px;
        display: flex;
        align-items: center;
        width: 380px;
        height: 500px;
    }
}