@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

/* CARD BODY  */
.card-container{
    font-family:"Source Sans Pro";
    display:flex;
    justify-content: center;
    flex-direction: row;
   background-color:#ecebeb;
    }
     
    .card-base{
        width:280px;
        height: 520px;
        margin: 25px;
        border-radius: 40px;
        box-shadow: 2px 2px 22px rgba(0,0,0,0.2);
    }
    .card-base:hover{
        box-shadow: 2px 12px 32px rgba(0,0,0,0.5);
        margin-top: 20px;
        cursor:pointer;
    }

/* IMG CARD */
    .imgCards{
        width:280px;
        height: 280px;
        border-radius: 40px;
        background-size: 100%;
    
    }
    
    .btn-base{
        display: flex;
        width: 180px;
        height: 40px;
        border-radius: 50px;
        margin: 0 auto;
        margin-top: -25px;
        font-size: 30px;
        color:white;
        justify-content: center;
        align-items: center;
    }
    /* BtN CENTER */

    .p-name{
        font-size: larger;
    }
    .btn-one{
        background-color:#dd9b22 ;
       
    }
    .btn-two{
       background-color: #7c7a7a;
    }
    .btn-three{
        background-color:#b97f33 ;
    }
    .btn-four{
       background-color:#257ba3;
    }
    .btn-five{
        background-color:#bd7b41;
    }
    
    /* TEXT AREA CARD */
    .textCards{

        color:#1f2222;
        width: 250px;
        height: 130px;
        padding-left: 20px;
        padding-right: 5px;
        font-size:18px;
        padding-bottom: 10px;
    
    }
    
    /* CARDS BACKGROUNDS and BTN Background  */
    .btn1,
    .card-one{
        background-color: #f1c22e;
        border-color:#f1d67e ;
    }
    .btn2,
    .card-two{
        background-color: #a1a2a6;
        border-color:#aab0c8 ;
    }
    
    .btn3,
    .card-three{
        background-color:#c78f26;
        border-color:#c89f53 ;
        
    }
    .btn4,
    .card-four{
        background-color: #35656ef3;
        border-color:#549e9e ;
    }
    .btn5,
    .card-five{
        background-color: #8f633d;
        border-color:#a3764f ;
    }
    
/*  CSS BUTTON CARDS  */
    .btn-Card{
      
        color:#262b2b;
        font-weight: bold;
        font-size: 20px;
        font-family:"Source Sans Pro";
        width: 75px;
        height: 32px;
        box-sizing: border-box;
        border-radius: 15px;
        box-shadow: 2px 12px 32px rgba(0,0,0,0.2);
        padding-right: 10px;
        padding-bottom: 10px;
    }
    .btn-Card:hover{
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
        cursor:pointer;
    }

    .btn-div{
        padding-left: 60px;
    }

    @media (max-width:1350px) {
        .card-container{
            flex-direction: column;
        }
        .card-base{
            margin: 0 auto;
            margin-top: 20px;
        }
        nav{
            flex-direction: column;
        }
    }