@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.topTextTop5{
    display: flex;
    justify-content: center;
    font-family: 'Oswald';
    color:
    #fb3742;
    font-size: 40px;
    font-display: swap;
    font-weight:bold;
    padding-left: 50px;
    padding-top: 30px;
    background-color:#262b2b;
}

.sectionTop5{
    display: flex;
    padding: 25px;
    padding-top: 40px;
    padding-bottom: 50px;
    font-family: 'Oswald';
    background-color: #262b2b;
    align-items: center;
    width: auto;
    height: auto;
    justify-content: center;

}

.nameTop5{
    background-color: #262b2b;
    font-family: 'Oswald';
    color:
    #fb3742;
    font-size: 40px;
    font-display: swap;
    font-weight:bold;
    padding-left: 50px;
    padding-top: 30px;
}
