@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.topTextTop5{
    display: flex;
    justify-content: center;
    font-family: 'Oswald';
    color:
    #fb3742;
    font-size: 40px;
    font-display: swap;
    font-weight:bold;
    padding-left: 50px;
    padding-top: 30px;
    background-color:#262b2b;
}

.sectionTop5{
    display: flex;
    padding: 25px;
    padding-top: 40px;
    padding-bottom: 50px;
    font-family: 'Oswald';
    background-color: #262b2b;
    align-items: center;
    width: auto;
    height: auto;
    justify-content: center;

}

/* teste */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Oswald:wght@700&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Open+Sans&family=Oswald:wght@700&family=Yellowtail&display=swap');






.card-container{
    font-family:"Source Sans Pro";
    display:flex;
    justify-content: center;
    flex-direction: row;
    }
     
    .card-base{
        width:280px;
        height: 520px;
        margin: 25px;
        border-radius: 40px;
        box-shadow: 2px 2px 22px rgba(0,0,0,0.2);
    }
    .card-base:hover{
        box-shadow: 2px 12px 32px rgba(0,0,0,0.7);
        margin-top: 20px;
       /*  cursor:pointer; */
    }
    .imgCards{
        background-image: url('../../Components/images/ber.jfif');
        height: 270px;
        border-radius: 40px;
        background-size: 100%;

       
    
    }
    .div-botao{
        padding-left: 60px;
        
    }
    .btn-base{
        display: flex;
        width: 180px;
        height: 40px;
        border-radius: 50px;
        margin: 0 auto;
        margin-top: -25px;
        font-size: 30px;
        color:#ffffdd;
        justify-content: center;
        align-items: center;
    
    }
    
    .btn-one{
        background-color:#dd9b22 ;
       
     
    }
    .btn-two{
       background-color: #7c7a7a;
    }
    .btn-three{
        background-color:#b97f33 ;
    }
    .btn-four{
       background-color:#257ba3;
    }
    .btn-five{
        background-color:#bd7b41;
    }
    
    .textCards{
       
        color:#1f2222;
        width: 250px;
        height: 170px;
        padding-left: 20px;
        padding-right: 5px;
        font-size:18px;
        padding-bottom: 30px;
    
    }

    .btn1,
    .card-one{
        background-color: #f1c22e;
        border-color:#f1d67e ;
    }
    .btn2,
    .card-two{
        background-color: #a1a2a6;
        border-color:#aab0c8 ;
    }
    
    .btn3,
    .card-three{
        background-color:#c78f26;
        border-color:#c89f53 ;
        
    }
    .btn4,
    .card-four{
        background-color: #35656ef3;
        border-color:#549e9e ;
    }
    .btn5,
    .card-five{
        background-color: #8f633d;
        border-color:#a3764f ;
    }
    
    button{
        
       color:#262b2b; 
       /*  border:none; */
        font-weight: bold;
        border-color: none;
        font-size: 20px;
        font-family:"Source Sans Pro";
        width: 75px;
        height: 32px;
        box-sizing: border-box;
        border-radius: 15px;
       /*  box-shadow: 2px 12px 32px rgba(0,0,0,0.10); */
        padding-right: 10px;
        padding-bottom: 10px;
    }

    .pAqui{
        padding: 10px;
        font-size: larger;
      
    }

    
    button:hover {
     transform: translateY(-3px);
     box-shadow: 0 10px 20px rgba(27, 27, 27, 0.9);
     cursor:pointer;
    }
    
  
    button::after {
     content: "";
     display: inline-block;
     height: 100%;
     width: 100%;
     border-radius: 100px;
     top: 0;
     left: 0;
     position: absolute;
     z-index: -1;
     transition: all .3s;
    }
    
 

    @media (max-width:1350px) {
        .card-container{
            flex-direction: column;
        }
        .card-base{
            margin: 0 auto;
            margin-top: 20px;
        }
        nav{
            flex-direction: column;
        }
    }
    